.card-container {
    display : flex;
    flex-direction: column;
    justify-content : center;
    /* align-items : center; */
    padding : 1rem 2rem;
    margin-top : 1rem;
    gap : 2rem;
    background : rgba(255, 0, 0, 0);
}
.card {
    gap : 1rem;
    display : flex;
    align-items : center;
    flex-basis : 1 1 0px;
    background : rgba(255, 255, 255, 0.979);
    width : 60rem;
    padding : 1.5rem 2rem;
    border-radius : 5px;
    box-shadow : 1px 1px 10px 3px rgba(0, 0, 0, 0.075);
}

.header-img {
    position : relative;
    width : 500px;
    height : 250px;
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 5px;
    /* background : red; */
    padding : 0rem 0rem;
    flex: 1;
}
.header-img > img {
    position : absolute;
    width : 95%;
    height : 95%;
    object-fit: cover;
    border-radius : 5px;
    padding : 0 .2rem;
}

.text-wrapper {
    display : flex;
    flex: 1;
    flex-direction : column;
    gap : .2rem;
}
.location-wrapper {
    display : flex;
    align-items : center;
    gap : .5rem;
}
.location-wrapper > i {
    color : rgb(248, 76, 76);
}
.country {
    letter-spacing : 2px;
}
.location-wrapper > a {
    text-decoration : underline;
    color : rgb(148, 144, 144);
    transition : color 200ms ease-in-out;
}
.location-wrapper > a:hover {
    color : rgb(250, 69, 69);
}

.location {
    font-size : 1.6rem;
    font-weight : bold;
    color : rgb(51, 49, 49);
}
.date {
    font-weight : bold;
    color : rgb(51, 49, 49);
}
.description {
    color : rgb(44, 43, 43);
    font-weight : regular;
}

@media screen and (min-width : 1400px) {
    .card-container {
        align-items : center;
    }
}

@media screen and (max-width : 800px) {
    .card-container {
        align-items : center;
        padding : 1rem 2rem;
    }
    .card {
        flex-direction : column;
        width : 23rem;
    }
    .text-wrapper {
        padding : 0rem 0rem;
        flex : initial
    }
    .header-img {
    position : relative;
    width : 350px;
    height : 220px;
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 5px;
    /* background : red; */
    padding : 0rem 1rem;
    flex: initial;
}
.header-img > img {
    position : absolute;
    width : 95%;
    height : 95%;
    object-fit: cover;
    border-radius : 5px;
    padding : 0 .2rem;
}
}